.backdropClear {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardY {
  color: inherit;
  cursor: pointer;
  height: 100%;
  width: 100%;
  perspective: 1000px;
  position: relative;
}
.cardX {
  color: inherit;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative;
}
/* Right To Left Animation */
.frontRightToLeft,
.backRightToLeft {
  display: flex;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.frontRightToLeft {
  background-size: cover;
  font-size: 1.618rem;
  font-weight: 600;
  overflow: hidden;
}
.frontRightToLeft:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
}
.cardY:hover .frontRightToLeft {
  transform: rotateY(-180deg);
}
.cardY:nth-child(even):hover .frontRightToLeft {
  transform: rotateY(180deg);
}

.backRightToLeft {
  transform: rotateY(180deg);
}

.cardY:hover .backRightToLeft {
  transform: rotateY(0deg);
}
.cardY:nth-child(even) .backRightToLeft {
  transform: rotateY(180deg);
}

/* Left To Right Animation */
.frontLeftToRight,
.backLeftToRight {
  display: flex;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.frontLeftToRight {
  background-size: cover;
  font-size: 1.618rem;
  font-weight: 600;
  overflow: hidden;
}
.frontLeftToRight:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
}
.cardY:hover .frontLeftToRight {
  transform: rotateY(180deg);
}
.cardY:nth-child(even):hover .frontLeftToRight {
  transform: rotateY(-180deg);
}

.backLeftToRight {
  transform: rotateY(-180deg);
}

.cardY:hover .backLeftToRight {
  transform: rotateY(0deg);
}
.cardY:nth-child(even) .backLeftToRight {
  transform: rotateY(180deg);
}

/* Top To Bottom Animation */
.frontTopToBottom,
.backTopToBottom {
  display: flex;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.frontTopToBottom {
  background-size: cover;
  font-size: 1.618rem;
  font-weight: 600;
  overflow: hidden;
}
.frontTopToBottom:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
}
.cardX:hover .frontTopToBottom {
  transform: rotateX(-180deg);
}
.cardX:nth-child(even):hover .frontTopToBottom {
  transform: rotateX(180deg);
}

.backTopToBottom {
  transform: rotateX(180deg);
}

.cardX:hover .backTopToBottom {
  transform: rotateX(0deg);
}
.cardX:nth-child(even) .backTopToBottom {
  transform: rotateX(180deg);
}

/* Bottom To Top Animation */
.frontBottomToTop,
.backBottomToTop {
  display: flex;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.frontBottomToTop {
  background-size: cover;
  font-size: 1.618rem;
  font-weight: 600;
  overflow: hidden;
}
.frontBottomToTop:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.25;
  z-index: -1;
}
.cardX:hover .frontBottomToTop {
  transform: rotateX(180deg);
}
.cardX:nth-child(even):hover .frontBottomToTop {
  transform: rotateX(-180deg);
}

.backBottomToTop {
  transform: rotateX(-180deg);
}

.cardX:hover .backBottomToTop {
  transform: rotateX(0deg);
}
.cardX:nth-child(even) .backBottomToTop {
  transform: rotateX(180deg);
}
